/**
 Tipografia
*/

html {
    font-family: 'Arimo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-font {
    font-family: 'Fauna One', serif;
}

/**
 Paleta de Cores

Verdes:
.cor1 = #1b5e20 (green darken-4)
.cor2 = #558b2f (light-green darken-3)
.cor3 = #689f38 (light-green darken-2)

Azuis:
.cor4 = #0d47a1 (blue darken-4)
.cor5 = #2196f3 (blue)

Amarelos:
.cor6 = #ffab00 (amber accent-4)
.cor7 = #ffe57f (amber accent-1)

Vermelhos:
.cor8 = #b71c1c (red darken-4)
.cor9 = #f44336 (red)

Monocolor:
.cor10 = #212121 (grey darken-4)
.cor11 = #424242 (grey darken-3)
.cor12 = #eeeeee (grey lighten-3)
*/
