@charset "UTF-8";

@font-face {
  font-family: "icons-sl7-bet";
  src:url("fonts/icons-sl7-bet.eot");
  src:url("fonts/icons-sl7-bet.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons-sl7-bet.woff") format("woff"),
    url("fonts/icons-sl7-bet.ttf") format("truetype"),
    url("fonts/icons-sl7-bet.svg#icons-sl7-bet") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons-sl7-bet" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-sl7-bet" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\62";
}
.icon-clock-o:before {
  content: "\63";
}
.icon-plus:before {
  content: "\64";
}
.icon-trophy:before {
  content: "\65";
}
.icon-soccer:before {
  content: "\68";
}
.icon-dice:before {
  content: "\69";
}
.icon-coins:before {
  content: "\6a";
}
.icon-flag:before {
  content: "\6c";
}
.icon-shield:before {
  content: "\6d";
}
.icon-translate:before {
  content: "\6f";
}
.icon-trash:before {
  content: "\70";
}
.icon-ticket:before {
  content: "\61";
}
.icon-logout:before {
  content: "\66";
}
.icon-login:before {
  content: "\67";
}
